.background{
    height: 70vh;
    background-color:  #DEF1DF;
    justify-content: end;
    align-items: flex-end;
    text-align: left;
}

.wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.left{
    flex: 1;
    align-items: center;
    display: flex;

}

.button{
    color: aliceblue;
    font-size: 18px;
    background-color: blue;
    border: none;
    margin-left: 120px;
}  

.right{
    display: flex;
    flex: 10;
    align-items: center;
    justify-content: center;
}

.menu{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 10;
    gap: 2rem;
    margin-right: -18rem;
}


